.loader_wrapper {
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  background-color: rgb(0, 0, 0, 0.5);
}
.loaderWrapper {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
}
