.columnsContainer {
  margin-bottom: 60px;
  overflow: scroll;
  display: flex;
  gap: 30px;
}
.addColBtn {
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  border-radius: 8px;
  width: 335px;
  height: 56px;
  background-color: #121212;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: -0.02em;
  color: #fff;
}

.pageWrapper {
  height: 100%;
  background-image: var(--background-image-mob-1x);
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

@media only screen and (max-width: 767px) and (min-device-pixel-ratio: 2),
  (max-width: 767px) and (min-resolution: 192dpi) {
  .pageWrapper {
    background-image: var(--background-image-mob-2x);
  }
}

@media only screen and (min-width: 768px) {
  .pageWrapper {
    background-image: var(--background-image-tab-1x);
  }
}

@media only screen and (min-width: 768px) and (min-device-pixel-ratio: 2),
  (min-width: 768px) and (min-resolution: 192dpi) {
  .pageWrapper {
    background-image: var(--background-image-tab-2x);
  }
}

@media only screen and (min-width: 1440px) {
  .pageWrapper {
    background-image: var(--background-image-desk-1x);
  }
}

@media only screen and (min-width: 1440px) and (min-device-pixel-ratio: 2),
  (min-width: 1158px) and (min-resolution: 192dpi) {
  .pageWrapper {
    background-image: var(--background-image-desk-2x);
  }
}
