.columnsContainer {
  margin-bottom: 60px;
  overflow: auto;
  display: flex;
  gap: 30px;
  padding-bottom: 8px;
}

.columnsContainer::-webkit-scrollbar {
  width: var(--sb-size-big);
}

.columnsContainer::-webkit-scrollbar-track {
  background: var(--sb-track-color-second);
  border-radius: 12px;
}

.columnsContainer::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color-second);
  border-radius: 12px;
}

@supports not selector(::-webkit-scrollbar) {
  .columnsContainer {
    scrollbar-color: var(--sb-thumb-color-second) var(--sb-track-color-second);
  }
}
.addColBtn {
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  border-radius: 8px;
  min-width: 335px;
  height: 56px;
  background-color: var(--background-card);
  font-weight: 500;
  font-size: 14px;
  letter-spacing: -0.02em;
  color: var(--color-text);
}
.addColBtn:hover .addColBtnIcon {
  transform: scale(1.1);
}
.addColBtnIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--background-plus-container);
  width: 28px;
  height: 28px;
  border-radius: 6px;
  transition: transform 250ms ease;
}
.addColBtnIcon:hover {
  transform: scale(1.1);
}
.buttonIconPlus {
  stroke: var(--background-card);
}
@media screen and (max-width: 320px) {
  .addColBtn {
    width: 280px;
  }
}
