.columnsContainer {
  margin-bottom: 60px;
  overflow: scroll;
  display: flex;
  gap: 30px;
}
.addColBtn {
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  border-radius: 8px;
  min-width: 335px;
  height: 56px;
  background-color: var(--background-card);
  font-weight: 500;
  font-size: 14px;
  letter-spacing: -0.02em;
  color: var(--color-text);
}
.addColBtn:hover .addColBtnIcon {
  transform: scale(1.1);
}
.addColBtnIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--background-plus-container);
  width: 28px;
  height: 28px;
  border-radius: 6px;
  transition: transform 250ms ease;
}
.addColBtnIcon:hover {
  transform: scale(1.1);
}
.buttonIconPlus {
  stroke: var(--background-card);
}
@media screen and (max-width: 320px) {
  .addColBtn {
    width: 280px;
  }
}
