.form {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 100%;
}

.descrError {
  position: absolute;
  color: #f16b6b;
  text-align: left;
  font-size: 10px;
  padding-left: 14px;
  margin-top: 3px;
}
.button {
  position: relative;
}
