.topWrapper {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  margin-top: 14px;
  margin-bottom: 39px;
}
.boardTitle {
  max-width: 300px;
  overflow-y: auto;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: -0.02em;
  color: var(--color-text);
}
@media screen and (min-width: 728px) {
  .boardTitle {
    font-size: 18px;
  }
}
.filterBtn {
  display: flex;
  align-items: center;
  gap: 8px;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: -0.02em;
  color: var(--color-text-80);
  background-color: transparent;
  transition: transform 250ms ease;
}
.filterBtn:hover {
  transform: scale(1.1);
}
.filterIcon {
  stroke: var(--color-text);
  stroke-opacity: 0.8;
  fill: transparent;
}
