.cardWrapper {
  border-radius: 8px;
  border-left: 4px solid var(--priority-color);
  width: 335px;
  background-color: #121212;
  padding: 14px 20px 14px 20px;
  position: relative;
}
@media screen and (max-width: 320px) {
  .cardWrapper {
    width: 280px;
  }
}
.cardTitle {
  font-weight: 600;
  font-size: 14px;
  letter-spacing: -0.02em;
  color: #fff;
  margin-bottom: 8px;
  overflow: scroll;
  white-space: nowrap;
}
.cardDescr {
  height: 29px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2; /* start showing ellipsis when 2rd line is reached */
  white-space: pre-wrap; /* let the text wrap preserving spaces */

  font-weight: 400;
  font-size: 12px;
  line-height: 1, 3%;
  letter-spacing: -0.02em;
  color: rgba(255, 255, 255, 0.5);

  margin-bottom: 20px;
}
.cardDecorLine {
  width: 100%;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.1);
  margin-bottom: 14px;
}
.cardInfoWrapper {
  display: flex;
  gap: 14px;
}
.cardInfoPriorityWrapper {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.cardInfoTitle {
  font-weight: 400;
  font-size: 8px;
  letter-spacing: -0.02em;
  color: rgba(255, 255, 255, 0.5);
}
.cardInfoDeadlineWrapper {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.cardInfoPriority {
  display: flex;
  align-items: center;
  gap: 4px;
}
.cardInfoPriorityFlag {
  width: 12px;
  height: 12px;
  border-radius: 100%;
  background-color: rgba(255, 255, 255, 0.3);
}
.cardInfoPriorityText {
  font-size: 10px;
  letter-spacing: -0.02em;
  color: #fff;
}
.cardInfoDeadline {
  font-size: 10px;
  letter-spacing: -0.02em;
  color: #fff;
}
.cardIconsWrapper {
  display: flex;
  align-items: center;
  gap: 8px;
  position: absolute;
  right: 20px;
  bottom: 10px;
  button {
    background-color: transparent;
  }
}
.cardIcon {
  stroke: #fff;
  stroke-opacity: 0.5;
  fill: transparent;
}
.bellIconButton {
  cursor: default;
}
.bellIcon {
  stroke: #bedbb0;
  stroke-width: 1.5;
  stroke-linecap: round;
  stroke-linejoin: round;
  filter: drop-shadow(0px 0px 5px rgba(255, 255, 255, 1));
  animation: glow 1.5s infinite alternate;
  fill: transparent;
  cursor: default;
}

@keyframes glow {
  from {
    filter: drop-shadow(0px 0px 5px rgba(255, 255, 255, 1));
  }
  to {
    filter: drop-shadow(0px 0px 10px rgba(255, 255, 255, 0.5));
  }
}
.popupChangeColumnContainer {
  position: absolute;
  z-index: 10;
  top: 145px;
  right: 0;
  padding: 18px;
  border-radius: 8px;
  width: 135px;
  box-shadow: 0 4px 16px 0 rgba(17, 17, 17, 0.1);
  background: #1f1f1f;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.columnNameItemWrapper {
  display: flex;
  background-color: transparent;
  justify-content: space-between;
  align-items: center;
}
.columnNameItemWrapper:hover {
  color: var();
}
.columnNameActive {
  font-size: 14px;
  letter-spacing: -0.02em;
  color: #bedbb0;
}
.columnNameDefault {
  font-weight: 400;
  font-size: 14px;
  letter-spacing: -0.02em;
  color: rgba(255, 255, 255, 0.5);
}
.cardIconActive {
  stroke: #bedbb0;
  fill: transparent;
}
.cardIconDefault {
  stroke: #bedbb0;
  fill: transparent;
  stroke: white;
  stroke-opacity: 0.5;
}
