.topWrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 14px;
  margin-bottom: 39px;
}
.boardTitle {
  font-weight: 500;
  font-size: 14px;
  letter-spacing: -0.02em;
  color: #fff;
}
.filterBtn {
  display: flex;
  align-items: center;
  gap: 8px;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: -0.02em;
  color: rgba(255, 255, 255, 0.8);
  background-color: transparent;
}
.filterIcon {
  stroke: #fff;
  stroke-opacity: 0.8;
}
.addColBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  border-radius: 8px;
  width: 335px;
  height: 56px;
  background-color: #121212;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: -0.02em;
  color: #fff;
}
