.sideBarBlock {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 260px;
  height: 100%;
  padding: 24px;

  background-color: var(--background-sidebar);
  color: var(--text-inside-sidebar);

  @media (max-width: 375px) {
    width: 225px;
    padding: 14px;
  }
}

.titleHidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.svgLightning {
  margin-right: 8px;
  border-radius: 6px;
  fill: var(--fill-sidebar-logo);
  background-color: var(--background-sidebar-logo);
  padding: 6px 8px;
}
.navLogo {
  display: flex;
  align-items: center;
  margin-bottom: 60px;
}
.title {
  color: var(--text-inside-sidebar);
  text-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 16px;
  letter-spacing: -0.64px;
}
.section {
  padding-top: 70px;
  padding-bottom: 20px;
  flex-grow: 1;
  @media screen and (min-width: 768px) {
    padding-top: 60px;
  }
}
.myBoardTitle {
  margin-bottom: 8px;
  color: var(--text-inside-sidebar-50);
  font-family: 'Poppins', sans-serif;
  font-size: 12px;
  letter-spacing: -0.24px;
}
/* 
.boardName {
  color: red;
  max-width: 180px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
} */
.boardTitleBlock {
  display: flex;
  gap: 50px;
  align-items: center;
  padding: 14px 0;
  border-top: 1px solid var(--line-color);
  border-bottom: 1px solid var(--line-color);
  min-height: 70px;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  letter-spacing: -0.28px;
}
.buttonAdd {
  width: 40px;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 10px;
  border-radius: 6px;
  border: none;

  background-color: var(--button-add-color);
  &:hover {
    background-color: var(--background-hover-button);
  }
}
.svgPlus {
  stroke: var(--stroke-sidebar-plus);
}
.mainBoard {
  padding: 0;
  margin: 40px -14px 40px -14px;
  flex-grow: 1;
  overflow-y: scroll;
  &::-webkit-scrollbar {
    width: 0px;
  }

  @media screen and (min-width: 768px) {
    margin: 40px -24px 40px -24px;
  }
}
.board {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 60px;
  align-items: center;
  color: var(--text-inside-sidebar-50);
  > div > svg {
    stroke: var(--text-inside-sidebar-50);
  }
}
.boardActive {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 60px;
  align-items: center;
  background-color: var(--background-help);
  > div > button > svg {
    stroke: var(--text-inside-sidebar-50);
  }
  > div > svg {
    stroke: var(--text-inside-sidebar);
  }
}
.boardListItem {
  display: flex;
  cursor: pointer;
  font-weight: 500;
  align-items: center;
  letter-spacing: -0.28px;
  margin-bottom: 4px;
  &:last-child {
    margin-bottom: 0;
  }
}
.boardListItemActive {
  display: flex;
  cursor: pointer;
  font-weight: 500;
  align-items: center;
  letter-spacing: -0.28px;
  margin-bottom: 4px;
  &::after {
    border-radius: 4px 0 0 4px;
    width: 4px;
    height: 61px;
    content: '';
    display: block;
    background-color: var(--after-color);
  }
  &:last-child {
    margin-bottom: 0;
  }
}
.titleBoard {
  display: flex;
  align-items: center;
}
.svgProject {
  fill: transparent;
  /* stroke: var(--text-inside-sidebar); */
  margin-right: 8px;
  margin-left: 24px;
}

.boardIcons {
  /* display: none; */
  margin-left: auto;
  margin-right: 20px;
}
.buttonIcon {
  outline: none;
  border: none;
  background-color: transparent;
  margin-right: 8px;
  &:last-child {
    margin-right: 0;
  }
}
.editIcon {
  fill: transparent;
}
.needHelpBlock {
  border-radius: 8px;
  margin-bottom: 24px;

  padding: 20px;
  background-color: var(--background-help);
  color: var(--text-inside-sidebar);
  @media screen and (max-width: 768px) {
    padding: 14px;
  }
}
.flower {
  margin-bottom: 14px;
  display: block;
}
.helpContent {
  font-size: 12px;
  line-height: 16px;
  letter-spacing: -0.24px;
  color: var(--text-inside-sidebar);
  > span {
    color: var(--span-color);
  }
  @media screen and (min-width: 768px) {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: -0.28px;
  }
}

.needHelpButton {
  display: flex;
  align-items: center;
  background-color: transparent;
  border: none;
  margin-top: 20px;
  padding: 0;
  font-size: 12px;
  font-family: 'Poppins', sans-serif;

  color: var(--text-inside-sidebar);
}
.svgHelp {
  stroke: var(--text-inside-sidebar);
  fill: rgba(0, 0, 0, 0);
  margin-right: 8px;
}

.logoutBtn {
  display: flex;
  align-items: center;
  gap: 14px;
  border: none;

  color: var(--text-inside-sidebar);
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 16px;
  background-color: transparent;
  padding: 0;
  @media (max-width: 768px) {
    font-size: 14px;
  }
}

.svgLogout {
  stroke: var(--button-logout-color);
  fill: transparent;
  &:hover {
    stroke: var(--button-logout-color-hover);
  }
  /* background-color: #fff; */
}
