.form_wrapper {
  height: 363px;
  border-radius: 8px;
  background: rgb(21, 21, 21);
  padding: 24px;
  gap: 40px;
  width: 100%;
}

@media screen and (min-width: 375px) and (max-width: 767.99px) {
  .form_wrapper {
    width: 335px;
  }
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  gap: 14px;
}

input {
  box-sizing: border-box;
  border: 1px solid rgb(190, 219, 176);
  border-radius: 8px;
  box-shadow: 0px 4px 16px 0px rgba(22, 22, 22, 0.08);
  background: rgb(31, 31, 31);
  opacity: 0.4;
  width: 100%;
  height: 49px;
  padding-left: 18px;
  padding-top: 14px;
  padding-bottom: 14px;
  color: rgb(255, 255, 255);
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0.02em;
  outline: none;
}

.btn_submit {
  margin-top: 10px;
  border-radius: 8px;
  background-color: rgb(190, 219, 176);
  height: 49px;
  color: rgb(22, 22, 22);
  font-size: 14px;
  font-weight: 500;
  line-height: 21px;
  letter-spacing: 0.02em;
  transition: background-color 250ms ease;
}

.btn_submit:hover,
.btn_submit:focus {
  background-color: rgb(157, 200, 136);
}

.inside_wrapper {
  display: flex;
  gap: 14px;
  margin-bottom: 40px;
  color: #ffffff;
}

.text {
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
  letter-spacing: 0.02em;
}
.link_login {
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
  letter-spacing: 0.02em;
  color: rgba(255, 255, 255, 0.3);
}
