*,
::after,
::before {
  box-sizing: border-box;
}
body {
  min-height: 100vh;
  margin: 0;
  /* background-color: rgb(60, 52, 74); */
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}
button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  cursor: pointer;
}
a {
  text-decoration: none;
  color: inherit;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* Fonts */
@font-face {
  font-family: "Poppins", sans-serif;
  src: url("./assets/fonts/Poppins-Regular.ttf") format("ttf");
  font-weight: 400;
  font-stretch: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins", sans-serif;
  src: url("./assets/fonts/Poppins-Medium.ttf") format("ttf");
  font-weight: 500;
  font-stretch: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins", sans-serif;
  src: url("./assets/fonts/Poppins-SemiBold.ttf") format("ttf");
  font-weight: 600;
  font-stretch: normal;
  font-display: swap;
}
/* ------------------- */
:root {
  /* Background  */

  --main-white-background: #fcfcfc;
  --main-background-body-light-gray: #f6f6f7;
  --main-background-button-olive: #bedbb0;
  --main-background-button-violet: #5255bc;
  --main-background-violet: #ecedfd;

  /* Colors some elements  */

  --main-black-dark-theme: #151515;
  --main-black-dark-theme-another: #1f1f1f;
  --main-black-dark-theme-another-two: #121212;

  /* Color-Text  */

  --main-black-text: #161616;
  --main-white-text: #ffffff;
  --main-violet-text: #5255bc;
  --main-text-inside-input-dark-theme: #fff;

  /* Color-priority-tasks */

  --main-low-priority: #8fa1d0;
  --main-medium-priority: #e09cb5;
  --main-high-priority: #bedbb0;
}
