.pageWrapper {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: var(--background-image-mob-1x);
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

@media only screen and (max-width: 767px) and (min-device-pixel-ratio: 2),
  (max-width: 767px) and (min-resolution: 192dpi) {
  .pageWrapper {
    background-image: var(--background-image-mob-2x);
  }
}

@media only screen and (min-width: 768px) {
  .pageWrapper {
    background-image: var(--background-image-tab-1x);
  }
}

@media only screen and (min-width: 768px) and (min-device-pixel-ratio: 2),
  (min-width: 768px) and (min-resolution: 192dpi) {
  .pageWrapper {
    background-image: var(--background-image-tab-2x);
  }
}

@media only screen and (min-width: 1440px) {
  .pageWrapper {
    background-image: var(--background-image-desk-1x);
  }
}

@media only screen and (min-width: 1440px) and (min-device-pixel-ratio: 2),
  (min-width: 1158px) and (min-resolution: 192dpi) {
  .pageWrapper {
    background-image: var(--background-image-desk-2x);
  }
}

.text {
  width: 320px;
  color: rgba(255, 255, 255, 0.5);
  text-align: center;
  font-size: 12px;
  line-height: 16px; /* 133.333% */
  letter-spacing: 0.02em;
}

@media only screen and (min-width: 768px) {
  .text {
    width: 471px;
    font-size: 14px;
    line-height: 18px; /* 128.571% */
  }
}

.highlightedText {
  color: #bedbb0;
  cursor: pointer;
}

.highlightedText:hover {
  text-decoration: underline;
}
