.pageWrapper {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--background-dashboard);
}

.text {
  width: 320px;
  color: var(--color-text-dashboard);
  text-align: center;
  font-size: 12px;
  line-height: 16px; /* 133.333% */
  letter-spacing: 0.02em;
}

@media only screen and (min-width: 768px) {
  .text {
    width: 471px;
    font-size: 14px;
    line-height: 18px; /* 128.571% */
  }
}

.highlightedText {
  color: var(--color-text-dashboard-highlight);
  cursor: pointer;
}

.highlightedText:hover {
  text-decoration: underline;
}
