.form_wrapper {
  min-height: 264px;
  border-radius: 8px;
  background: rgb(21, 21, 21);
  padding: 24px;
  gap: 40px;
  width: 100%;
}
@media screen and (min-width: 375px) and (max-width: 767.99px) {
  .form_wrapper {
    width: 335px;
  }
}

@media screen and (min-width: 768px) {
  .form_wrapper {
    width: 424px;
    padding: 40px;
  }
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  gap: 18px;
}

.input_error {
  color: #f16b6b;
  text-align: left;
  font-size: 10px;
  margin-top: 3px;
  padding-left: 14px;
  position: absolute;
}
.btn_submit {
  margin-top: 10px;
  border-radius: 8px;
  background-color: rgb(190, 219, 176);
  height: 49px;
  color: rgb(22, 22, 22);
  font-size: 14px;
  font-weight: 500;
  line-height: 21px;
  letter-spacing: 0.02em;
  transition: background-color 250ms ease;
  margin-bottom: 10px;
}

.btn_submit:hover,
.btn_submit:focus {
  background-color: rgb(157, 200, 136);
}

.inside_wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 14px;
  margin-bottom: 24px;
  color: #ffffff;
}

.text {
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
  letter-spacing: 0.02em;
}
.link_register {
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
  letter-spacing: 0.02em;
  color: rgba(255, 255, 255, 0.3);
}
.eyeIconBtn {
  background-color: transparent;
  position: absolute;
  width: 18px;
  height: 18px;
  right: 18px;
  top: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  border: transparent;
}

.pass_input_wrapper {
  position: relative;
  text-align: end;
}
.icon {
  fill: rgba(255, 255, 255, 0.3);
}
